@{
    ViewBag.Title = "Home Page";
}

<div class="mdl-color--white lists-container mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">

    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bt-add-user mdl-color--primary">
        <i class="material-icons">add</i>
    </button>

    <ul class="demo-list-icon mdl-list mdl-cell--12-col">
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">person</i>
                Bryan Cranston
            </span>
            <a class="mdl-color-text--grey-500" href="#"><i class="material-icons icons">edit</i></a>
            <a class="mdl-color-text--grey-500" href="#"><i class="material-icons icons">delete</i></a>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">person</i>
                Aaron Paul
            </span>
            <a class="mdl-color-text--grey-500" href="#"><i class="material-icons icons">edit</i></a>
            <a class="mdl-color-text--grey-500" href="#"><i class="material-icons icons">delete</i></a>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">person</i>
                Bob Odenkirk
            </span>
            <a class="mdl-color-text--grey-500" href="#"><i class="material-icons icons">edit</i></a>
            <a class="mdl-color-text--grey-500" href="#"><i class="material-icons icons">delete</i></a>
        </li>
    </ul>
</div>

