@using Aski_Web.Models
@model Discipline

@{
    ViewBag.Title = "Cadastrar Disciplina";
}



<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-grid form-register">

    @using (Html.BeginForm("Cadastrar",
        "Disciplines", FormMethod.Post))
    {

        @Html.HiddenFor(model => model.Id)

    <div class="mdl-textfield mdl-js-textfield mdl-cell--12-col">
        @Html.EditorFor(model => model.Name,
            new
            {
                htmlAttributes = new
                {
                    @class = "mdl-textfield__input",
                    type = "text",
                    @placeholder = "Nome da disciplina"
                }
            })
        @Html.ValidationMessageFor(model => model.Name, null, new { style = "color: red; font-size: 13px;" })

    </div>

        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-cell--5-col" type="submit">
            Cadastrar
        </button>
        <div class="mdl-layout-spacer"></div>

    }
</div>