@{
    ViewBag.Title = "Cadastrar Disciplina";
}



<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-grid form-register">

    <form>       
        <div class="mdl-textfield mdl-js-textfield mdl-cell--12-col">
            <input class="mdl-textfield__input" placeholder="Nome" type="text" id="disciplineName" ="validate" />
            <label for="disciplineName" class="mdl-textfield__label">Nome da Disciplina</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-cell--12-col">
            <input class="mdl-textfield__input" placeholder="Id" type="text" id="disciplineName" ="validate" />
            <label for="disciplineName" class="mdl-textfield__label">Id</label>
        </div>


        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-cell--5-col" type="submit">
            Cadastrar
        </button>
        <div class="mdl-layout-spacer"></div>

    </form>

</div>