
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="~/Content/mdl-v1.1.2/material.min.js"></script>

<div id="RegSuccessDivTwo">

    @using (Ajax.BeginForm("_PartialStepTwo", "CadastrarUsuario", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "RegSuccessDivTwo",
        HttpMethod = "Post"
    }))
    {
        <script src="~/Scripts/jquery-3.3.1.js"></script>
        <script src="~/Content/mdl-v1.1.2/material.min.js"></script>

        <form class="mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <i class="material-icons mdl-textfield__label__icon">lock</i>
                <input class="mdl-textfield__input item-forms" type="password" id="pass">
                <label class="mdl-textfield__label item-forms" for="pass">Senha</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <i class="material-icons mdl-textfield__label__icon">lock</i>
                <input class="mdl-textfield__input item-forms" type="password" id="configm_pass">
                <label class="mdl-textfield__label item-forms" for="configm_pass">Confirme a senha</label>
            </div>

            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
                <span class="mdl-checkbox__label">Quero ajuda</span>
            </label>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
                <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input">
                <span class="mdl-checkbox__label">Vou ajudar alguém</span>
            </label>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="margin-top: 15px;">
                Próximo
            </button>

        </form>
    }

</div>