@{
    ViewBag.Title = "Home Page";
}


<div >

    <form class="col s11 m9 l4" id="msform">

        <fieldset>

            <div class="input-field col s12">
                <input class="validate" type="text" id="name">
                <label for="name">Nome Completo</label>
            </div>

            <div class="input-field col s12">
                <input class="validate" type="email" id="email">
                <label for="email">E-mail</label>
            </div>

            <div class="input-field col s12">
                <input class="validate" type="password" id="pass">
                <label for="pass">Senha</label>
            </div>

            <div class="input-field col s12">
                <input type="password" id="configm_pass">
                <label for="configm_pass">Confirme a senha</label>
            </div>

            <div style="display: block" class="col s12">
                <label>
                    <input type="checkbox" id="checkbox-1" class="filled-in" checked="checked">
                    <span>Quero ajuda</span>
                </label>                
            </div>

            <div style="display: block; margin-bottom: 20px;" class="col s12">
                <label>
                    <input type="checkbox" id="checkbox-2" class="filled-in">
                    <span>Vou ajudar alguém</span>
                </label>
            </div>

            <button class="next waves-effect waves-light btn" type="button" name="next" style="margin: 5px auto; display: block">
                Próximo
            </button>

        </fieldset>
                     
        <fieldset>

            <div class="input-field col s12">
                <select>
                    <option value="" disabled selected>Selecione seu curso</option>
                    <option value="1">Sistemas de Informação</option>
                    <option value="2">Ciência da Computação</option>
                    <option value="3">Engenharia Civil</option>
                </select>
                <label>Curso</label>
            </div>

            <div class="col s12">
                <div class="chips chips-placeholder chips-autocomplete"></div>
            </div>
            <span class="col s12" style="font-size: 13px; color: darkgray;">Informe as matérias que você possui <b>dificuldades.</b></span>


            <!--
        <div style="display: block" class="col s12">
        <label for="graduado">
            <input type="checkbox" class="filled-in" id="graduado">
            <label for="graduado">Já sou graduado</label>
        </label>
    </div>

    -->


            <button class="next waves-effect waves-light btn" type="button" name="next" style="margin-top: 30px;">
                Próximo
            </button>

        </fieldset>

    </form>
</div>

