@{
    ViewBag.Title = "Home Page";
}


    <div class="mdl-cell mdl-cell--8-col mdl-color--white mdl-shadow--16dp mdl-grid mdl-card--border register-container" style="margin: auto">

        <header class="mdl-cell--12-col" >
            <div >
                <span class="mdl-layout-title register-title" >Registro</span>
            </div>
            <hr />
        </header>
        

        <div class="mdl-cell--10-col mdl-grid">
            @Html.Partial("~/Views/CadastrarUsuario/_PartialCadastrarUsuarioStep1.cshtml");
        </div>

    </div>




