@{
    ViewBag.Title = "Home Page";
}


<div >

    <form class="col s11 m9 l3" id="msform">
         

        <fieldset id="fs-1">

            <div class="col s12">
                <h6 class="left-align register-header"><b>CADASTRO</b></h6>
            </div>

            <div class="input-field col s12">
                <input class="validate" type="text" id="name" name="name">
                <label for="name">Nome Completo</label>
            </div>

            <div class="input-field col s12">
                <input class="validate" type="email" id="email" name="email">
                <label for="email">E-mail</label>
            </div>

            <div class="input-field col s12">
                <input class="validate" type="password" id="pass" name="pass">
                <label for="pass">Senha</label>
            </div>

            <div class="input-field col s12" style="margin-bottom: 10px;">
                <input type="password" id="confirm_pass" name="confirm_pass">
                <label for="confirm_pass">Confirme a senha</label>
            </div>

            <label class="col s12 m6 l6 cb_container">
                <input type="checkbox" id="cb_1" name="cb_1" class="filled-in require-one" value="true" checked="checked">
                <span>Quero ajuda</span>
            </label>

            <label class="col s12 m6 l6 cb_container">
                <input type="checkbox" id="cb_2" name="cb_2" class="filled-in require-one" value="true">
                <span>Vou ajudar alguém</span>
            </label>

            <div id="cb_error" name="cb_error"></div>

            <button class="next waves-effect waves-light btn center-align" type="button" name="next" id="next-fs1" style="margin-top: 20px;">
                Próximo
            </button>

        </fieldset>

        <fieldset id="fs-2">

            <div class="input-field col s12 want-be-helped" id="select_course_container">
                <select name="select_course" id="select_course" required>
                    <option value="0" disabled selected>Selecione seu curso</option>
                    <option value="1">Sistemas de Informação</option>
                    <option value="2">Ciência da Computação</option>
                    <option value="3">Engenharia Civil</option>
                </select>
                <label>Curso</label>
            </div>

            <div class="col s12 want-be-helped">
                <h6 class="left-align register-header"><b>NOS DIGA COM QUAIS MATÉRIAS VOCÊ PRECISA DE AJUDA.</b></h6>
            </div>

            <div class="col s12 want-be-helped" id="chips_container1">
                <div class="chips chips-placeholder chips-autocomplete" id="chips_want_be_helped" name="chips_want_be_helped"></div>
                <span class="helper-text" id="course_error">Informe pelo menos uma matéria.</span>
            </div>

            <div class="col s12 want-to-help">
                <h6 class="left-align register-header"><b>AJUDE OUTRAS PESSOAS, INFORME AS MATÉRIAS QUE VOCÊ DOMINA.</b></h6>
            </div>

            <div class="col s12 want-to-help" id="chips_container2">
                <div class="chips chips-placeholder chips-autocomplete" id="chips-want-to-help"></div>
            </div>

            <button class="next waves-effect waves-light btn center-align" id="previous-fs2" type="button" name="next" style="margin-top: 20px; margin-right: 20px;">
                Anterior
            </button>

            <button class="next waves-effect waves-light btn center-align" id="next-fs2" type="submit" name="next" style="margin-top: 20px;">
                FINALIZAR
            </button>

        </fieldset>
       
    </form>
</div>

