@using Aski_Web.Models
@model HomeViewModel


<div class="row" style="margin-top: 2%">

    <div class="col s12 l7" style="padding-top:15px;">

        <span class="header_one">DÚVIDA</span>

        <div class="ask z-depth-3" id="askId">

            <span style="font-size: 12px; color: gray">Insira sua dúvida, selecione os pontos e a disciplina, e em seguida escolha quem irá te ajudar</span>

            <textarea placeholder="Qual sua dúvida?"></textarea>

            <div class="row">
                <div class="input-field col s12 l6" style="margin-top: 20px">
                    <select>
                        <option value="1">10 pontos</option>
                        <option value="2">15 pontos</option>
                        <option value="3">20 pontos</option>
                        <option value="1">25 pontos</option>
                        <option value="2">30 pontos</option>
                        <option value="3">35 pontos</option>
                        <option value="1">40 pontos</option>
                        <option value="2">45 pontos</option>
                        <option value="3">50 pontos</option>
                        <option value="1">55 pontos</option>
                        <option value="2">60 pontos</option>
                        <option value="3">65 pontos</option>
                    </select>
                    <label>Essa pergunta vale</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 l6" style="margin-top: 5px;">
                    <select id="disciplines">
                        @foreach (Discipline discipline in Model.Disciplines)
                        {
                            <option value="@discipline.Id">@discipline.Name</option>
                        }                      
                    </select>
                    <label>Disciplina</label>
                </div>
            </div>

        </div>

    </div>

    @{ 
        List<String> nomes = new List<String>();
        nomes.Add("Carlos da Silva");
        nomes.Add("Joana Sales");
        nomes.Add("Marcia Araujo");
        nomes.Add("João Ferreira");
        nomes.Add("Paulo Vinicius");
        nomes.Add("Juliana");
        nomes.Add("Rodrigo Santos");
        nomes.Add("Carla Prado");
        
    }

    <div class="col s12 l4" style="padding-top:15px;">

        <span class="header_one">QUEM PODE AJUDAR</span>

        <div class="answer z-depth-3" id="answerId"></div>
    </div>

</div>