
<div class="row" style="margin-top: 5%">

    <div class="col s12 l7">
        <div class="ask">

            <span class="header_one">PERGUNTAR</span>
            <textarea placeholder="Qual sua dúvida?"></textarea>

            <div class="input-field col s6 l3" style="margin-top: 30px;">
                <select>
                    <option value="1">10 pontos</option>
                    <option value="2">15 pontos</option>
                    <option value="3">20 pontos</option>
                    <option value="1">25 pontos</option>
                    <option value="2">30 pontos</option>
                    <option value="3">35 pontos</option>
                    <option value="1">40 pontos</option>
                    <option value="2">45 pontos</option>
                    <option value="3">50 pontos</option>
                    <option value="1">55 pontos</option>
                    <option value="2">60 pontos</option>
                    <option value="3">65 pontos</option>
                </select>
                <label>Essa pergunta vale</label>
            </div>

        </div>

    </div>

    <div class="col s12 l4">
        <div class="answer">
            asdadasd
        </div>
    </div>

</div>